<link rel="stylesheet" href="/css/new_pwd.css">
<!-- <body>
    <form action="/resetpwd/savepwd/<%=accesstoken%>" method="post">
        <input type="password" name="password" placeholder="Enter new passowrd">
        <input type="password" name="confirmpassword" placeholder="confirm password">
        <input type="submit" value="click here to save your password">
    </form>
</body> -->
<body>
    <div class="center">
      <!-- <div class="card-image">	
        <h2 class="card-heading">
          Get started
          <small>Let us create your account</small>
        </h2>
      </div> -->
      <!-- <h1>Login</h1> -->
      <h4>Enter your new password click update password to update your password</h4>
      <form action="/resetpwd/savepwd/<%=accesstoken%>"  method="post">
        <div class="txt_field">
            <input type="password" name="password" autocomplete="off" required>
            <span></span>
            <label>password</label>
        </div>
        <div class="txt_field">
            <input type="password" name="confirmpassword" autocomplete="off" required>
            <span></span>
            <label>confirm password</label>
        </div>
        <input type="submit" value="update password">
      </form>
    </div>

  </body>