<body>
    
    <form action="/user/reset/<%=locals.user._id%>" method="post" >
        <input type="password" name="password" placeholder="Enter your password">
        <input type="password" name="confirmPassword" placeholder="Confirm your password">
        <input type="submit" value="save password">
    </form>

</body>