<body>
    <form action="/user/createuser" method="post">
        <input type="text" name="name" placeholder="Enter your name">
        <input type="email" name="email" placeholder="Enter your email">
        <input type="password" name="password" placeholder="Enter your password">
        <input type="password" name="confirmPassword" placeholder="Reenter your password">
        <input type="submit" value="sign up">
        
    </form>
    <p><a href="/user/auth/google">google signin/signup</a></p>
</body>