<body>
    
    <form action="/user/createSession" method="post">
        <input type="email" name="email" placeholder="enter your emsil">
        <input type="password" name="password" placeholder="enter your password">
        <input type="submit" value="sign in">
    </form>

</body>
<p><a href="/user/auth/google">google signin/signup</a></p>