@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  /* background: linear-gradient(120deg,#2980b9, #8e44ad); */
  background: linear-gradient(120deg,#3c5260, #181618);
  height: 100vh;
  overflow: hidden;
}
header{
  height: 60px;
  width: 100%;
  background-color: #acc1bf85;;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
header>div{
  padding: 4px;
  position: absolute;
  right: 50px;

}
.nav>div
{
  display: flex;
  flex-direction: row;

}
.nav a , .fas{
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}
.card-image {
  margin-top: 2px;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom:60%;
  background-image: url("https://assets.codepen.io/285131/coffee_1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 5%;
  position: relative; }

.card-heading {
  position: absolute;
  left: 10%;
  top: 15%;
  right: 10%;
  font-size: 1.75rem;
  font-weight: 700;
  color: #735400;
  line-height: 1.222; }
  .card-heading small {
    display: block;
    font-size: .75em;
    font-weight: 400;
    margin-top: .25em; }
